body {
    background-color: #EBEAEA;
    font-family: "Alumni Sans", sans-serif;   
}

.top-header {
    display: flex;
    background-color: #C6D9DE;
    color: black;
    padding: 20px 40px;
    font-size: 50px;
    font-weight: 300;
}

.top-header span {
    margin-right: 80px;
}

.top-header .board-link {
    color: black;
    text-decoration: none;
}

.top-header .board-link:hover {
    text-decoration: underline;
}

.welcome-to {
    text-align: center;
    color: #6F6565;
    font-size: 80px;
    font-weight: 300; 
    margin-bottom: 0px;
}

.post-it {
    text-align: center;
    color: #6F6565;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 10px; 
}

.circle-container {
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.circle {
    background-color: #C6D9DE;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    font-size: 45px;
    font-weight: 450;
    text-align: center;
}

.board-page-header {
    display: flex;
    background-color: #C6D9DE;
    color: black;
    padding: 20px 40px;
    font-size: 50px;
    font-weight: 300;
}

.board-page-header .home-link {
    margin-right: 100px; 
    text-decoration: none;
    color: black;
}

.board-page-header .board-link {
    text-decoration: none;
    color: black;
}

.corkboard {
    background-image: url('https://images.pexels.com/photos/5988420/pexels-photo-5988420.jpeg');
    background-size: cover; 
    background-position: center; 
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-box {
    background-color: #D4C4A8; 
    padding: 20px;
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px; 
}

.todo-title {
    font-size: 50px;
    color: #000000;
    margin: 0;
    font-weight: 300;
}

.welcome-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.welcome-to {
    color: #6F6565;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 0px;
}

.post-it-title {
    color: #6F6565;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-it-container {
    display: flex;
    gap: 20px; 
    justify-content: center;
    flex-wrap: wrap; 
}

.post-it {
    width: 200px;
    height: 150px;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.post-it.pink {
    background-color: #FFC1C1;
}

.post-it.green {
    background-color: #C6E6B4;
}

.post-it.yellow {
    background-color: #FFF5BA;
}

.post-it.blue {
    background-color: #AEDFF7;
}
