body {
    background-color: #EBEAEA;
    font-family: "Alumni Sans", sans-serif;
}

.top-header {
    display: flex;
    background-color: #C6D9DE;
    color: black;
    padding: 20px 40px;
    font-size: 50px;
    font-weight: 300;
}

.top-header span {
    margin-right: 80px;
}

.top-header .board-link {
    color: black;
    text-decoration: none;
}

.top-header .board-link:hover {
    text-decoration: underline;
}

.welcome-to {
    text-align: center;
    color: #6F6565;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 0px;
}

.post-it {
    text-align: center;
    color: #6F6565;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative; 
}

.checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 12px;
    height: 12px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
}

.circle-container {
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.circle {
    background-color: #C6D9DE;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    font-size: 45px;
    font-weight: 450;
    text-align: center;
}

.board-page-header {
    display: flex;
    background-color: transparent;
    color: white;
    padding: 20px 40px;
    font-size: 50px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.board-page-header .home-link,
.board-page-header .board-link {
    margin-right: 100px;
    text-decoration: none;
    color: white;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.corkboard {
    background-image: url('https://images.pexels.com/photos/5988420/pexels-photo-5988420.jpeg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 100px;
}

.todo-box {
    background-color: #DDCEA0;
    padding: 20px;
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    align-self: center;
}

.todo-title {
    font-size: 50px;
    color: #000000;
    margin: 0;
    font-weight: 300;
    text-align: center;
}

.welcome-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.welcome-to {
    color: #6F6565;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 0px;
}

.post-it-title {
    color: #6F6565;
    font-size: 200px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

.post-it-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.post-it {
    width: 200px;
    height: 200px;
    padding: 10px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    word-wrap: break-word;
}

.post-it.pink {
    background-color: #E7B5BA;
}

.post-it.green {
    background-color: #BAE7B5;
}

.post-it.orange {
    background-color: #FCD99D;
}

.post-it.blue {
    background-color: #C6D9DE;
}


.post-it.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-color: #D9EAD3;
    position: relative; 
    overflow: hidden; 
}

.post-it.circle .checkbox {
    position: absolute;
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 12px;
    height: 12px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
}

.post-it.star {
    width: 290px;
    height: 290px;
    background-color: #F4CCCC;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative; 
    overflow: hidden; 
}

.post-it.star .checkbox {
    position: absolute;
    top: 40px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 10px;
    height: 10px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    z-index: 10; 
}

.open-overlay-btn {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    right: 70px;
    z-index: 1000;
}

.overlay{
    font-family: "Alumni Sans", sans-serif;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.8);
    z-index: 1000;
}

.overlay-content {
    font-family: "Alumni Sans", sans-serif;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 80%;
    transform: translate(-50%, -50%);
    height: 100%;
    justify-content: center;
    background-color: rgba(245, 245, 245, 0.9);
    text-align: center;
    border-radius: 8px;
}

.overlay-close-btn {
    position: absolute;
    top: 5vh;
    right: 5vw;
    background-color: transparent;
    border: none;
    font-size: 40px;
    color: black;
    cursor: pointer;
}

.color-btn-container {
    position: relative;
    top: 25vh;
    left: 15lvw;
}
.color-btn {
    width: 40px;
    height: 40px;
    top: 10vh;
    right: 10vw;
    border: none;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.color-btn:hover{
    opacity: 0.7;
}

#postIt {
    position: absolute;
    top: 30vh;
    left: 15vw;
    transform: translate(-25%, -25%);
    width: 40vw; 
    height: 40vh;
    padding-top: 40vw;
    max-width: 400px; /* max width for bigger screens */
    max-height: 400px; /* max height for bigger screens */
    padding: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* make sure the textarea fills the post-it */
#postIt textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 18px;
    color: black;
    text-align: center;
    resize: none;
    outline: none;
    overflow: auto;
}

.done-btn {
    background-color: #C6D9DE;
    font-family: "Alumni Sans", sans-serif;
    color: black;
    border: none;
    padding: 8px 40px;
    border-radius: 12px;
    top: 70vh;
    left: 27vw;
    position: absolute;
    transform: translateY(-20%); 
    font-size: 28px;
    cursor: pointer;
    z-index: 1001;
}

.edit-overlay-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
